/* Makes sure the headings and background image goes from egde to edge */
body { 
    margin: 0;
    padding: 0;
}

/* this is the gray bar at the top as the header */
.header {

    background-color: rgb(74, 75, 75);;
    color: rgb(100, 197, 222);
    margin: 0;
    padding: 0;

}

/* this changes the title font size and adds */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color:rgb(74, 75, 75);
    background-color: rgb(100, 197, 222);
    background-position: left;
    padding: 0px 20px 0px 50px;
    
}

/* This moves the navigation to where it is */
.main-nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

/* This clears the formatting of the list */
.main-nav ul {
    list-style-type: none;
    margin-right: 25px;
    margin-bottom: 25px;
}

/* This places the list items next to eachother and underlines the items while changing the font size */
.main-nav ul li {

    display: inline-block;
    margin-left: 25px;
    text-decoration-line: underline;  
    text-decoration-thickness: 15%;
    font-size: 20px;

}

/* changes the color of all anchor elements */
a {
    color: rgb(100, 197, 222);
    text-decoration: none;
}

/* formats the background image and positions it */
.background {
    height: 190px;
    width: 100%;
    background-image: url("../assets/images/Background.PNG");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

}

/* places the about me header on the left and adds a border on the right */
.about-me h2 {
    display: inline-block;
    padding: 40px 30px 40px 160px;
    border-right: solid thick rgb(40, 112, 131);
    color: rgb(40, 112, 131);
    margin-bottom: 50px;
    font-size: 45px;
}

/* places the paragraph on the right of the about me header and changes the font size */
.about-me p {
    display: inline-block;
    position: absolute;
    padding: 30px 30px 30px 30px;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 100px;
    
}

/* places the work header on the left and a border on the right */
.work h2 {
    display: inline-block;
    padding: 40px 30px 800px 243px;

    font-size: 45px;
    border-right: solid thick rgb(40, 112, 131);
    color: rgb(40, 112, 131);

}

/* formates the project 1 picture */
.project1 {

    position: absolute;
    right: 0px;
    top: 540px;
    margin-right: 130px;

}

.project1 img:hover {
    background-color: rgb(0, 0, 0, .3);
}



/* formates the project 2 picture */
.project2 {
    position: absolute;
    right: 0px;
    top: 1050px;
    margin-right: 590px;
}

/* formates the project 4 picture */
.project4 {
    position: absolute;
    right: 0px;
    top: 1250px;
    margin-right: 590px;
}

/* formates the project 3 picture */
.project3 {
    position: absolute;
    top: 1050px;
    margin-right: 130px;
    right: 0px;
}

/* formates the project 5 picture */
.project5 {
    position: absolute;
    right: 0px;
    top: 1250px;
    margin-right: 130px;
}

/* adds a border around the project 1 picture */
.main-project img {

    border: solid 5px rgb(100, 197, 222);


}


/* adds a border around the project 2-5 pictures */
.minor-projects img {

    border: solid 5px rgb(100, 197, 222);
}

/* adds a header and background color over each project image */
.work h3 {
    display:inline;
    padding: 10px 50px 50px 10px;
    background-color: rgb(100, 197, 222);
    font-size: 170%;
    position: relative;
    bottom: -120px;
    left: 0px;
    
}

/* adds a subheading over each project image */
.work h4 {
    line-height: 0px;
    font-size: 90%;
    padding-left: 10px;
    position: relative;
    bottom: -120px;
    left: 0px;
}

/* places the contact me header on the left and a border on the right */
.contact-me h2 {
    display: inline-block;
    padding: 40px 30px 40px 126px;
    font-size: 45px;
    border-right: solid thick rgb(40, 112, 131);
    color: rgb(40, 112, 131);
}

/* clears bullet point format of the list */
.contact-me ul {
    list-style-type: none;
    margin-right: 25px;
    margin-bottom: 25px;
}

/* places the list items side by side */
.contact-me ul li {

    display: inline-block;
    margin-left: 25px;
    font-size: 20px;

}

/* moves all the items to the right of the contact me header */
.contact-links {
    float: right;
    margin-top: 90px;
    right: 200px;
    padding-right: 250px;
}